.formdiv {
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    /*margin-left: 20%;*/
}

.formbox {
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*padding-left: 20%;*/

}

#contactcatch {
    color: white;
    width: 80%;
    font-size: 25px;
    font-weight: bold;
}

.ownerdiv {
    margin-left: 2%;
    height: 90%;
    color: white;
    width: 45%;
    margin-right: 4%;
}

.ownerdiv div {
    height: 100px;
    margin-bottom: 20px;
}

.infobox {
    height: 40px;
}

.logobox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
}

.inputdiv {
    height: 90%;
    color: white;
    width: 80%;
    display: flex;
    margin-right: 2%;
}
.inputbox {
    width: 30%;

}

.textbox {
    width: 50%;
}

.inputdiv div input {
    height: 30px;
    width: 90%;
    margin-left: 2%;
    margin-bottom: 15px;
}

textarea {
    height: 130px;
    width: 100%;
}

form {
    margin-top: 100px;
    height: 100vh;
}

.Conlogo {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

@media screen and (min-width: 200px) and (max-width: 500px) {
    .inputdiv {
        display: flex;
        flex-direction: column;
    }
    .formdiv {
        height: 250px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
    }
    .inputbox {
        width: 100%;
    
    }
    .textbox {
        width: 96%;
    }

    #ContactButton {
        margin-left: 36%;
    }

    .logobox {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-left: 20px;
    }
    .formbox {
        height: 250px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 15%;
    
    }
}

@media screen and (min-width: 501px) and (max-width: 1200px) {

    .formdiv {
        height: 250px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
    }
    .inputbox {
        width: 100%;
    
    }
    .textbox {
        width: 96%;
    }

    #ContactButton {
        margin-left: 75%;
    }
    .formbox {
        height: 250px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20%;
    
    }

}


